! vim:ft=xdefaults

Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.theme: default

! pixelsize is relative to screen resolution, size is relative to DPI.
XTerm*faceName: xft:monospace:size=6
*font: xft:monospace:size=6

XTerm*scaleHeight: 1.4
XTerm*termName: xterm-256color
XTerm*geometry: 92x20
XTerm*internalBorder: 30
XTerm*borderWidth: 0
XTerm*utf8: true
XTerm*scrollBar: false
XTerm*cursorBlink: false
XTerm*selectToClipboard: true
XTerm*keepClipboard: true
XTerm*trimSelection: true
XTerm*renderFont: true
XTerm*wideChars: true
XTerm*visualBell: false
XTerm*allowBoldFonts: false
XTerm*scrollKey: true
XTerm*fullscreen: never
XTerm*cutToBeginningOfLine: false
XTerm*cutNewline: false
XTerm*metaSendsEscape: true
XTerm*saveLines: 10000
XTerm*bellIsUrgent: true
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on2Clicks: word
XTerm*on3Clicks: line
XTerm*highlightReverse: false

*VT100*translations: #override \
    Shift Ctrl <KeyPress> c:copy-selection(SELECT) \n\
    Shift Ctrl <KeyPress> v:insert-selection(SELECT)

#define FG #9cb9de
#define BG #08090c
#define RED #e24358
#define GREY #607ea0
#define COMMENT #30445c
#define SHADE #0d1016

XTerm*foreground: FG
XTerm*background: BG
XTerm*cursorColor: FG
XTerm*highlightColor: RED
XTerm*highlightTextColor: BG
XTerm*color0: SHADE
XTerm*color8: COMMENT
XTerm*color1: RED
XTerm*color9: RED
XTerm*color2: FG
XTerm*color10: FG
XTerm*color3: RED
XTerm*color11: FG
XTerm*color4: GREY
XTerm*color12: GREY
XTerm*color5: RED
XTerm*color13: RED
XTerm*color6: GREY
XTerm*color14: GREY
XTerm*color7: FG
XTerm*color15: FG
