! vim:ft=xdefaults

Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.theme: default

! pixelsize is relative to screen resolution, size is relative to DPI.
XTerm*faceName: xft:monospace:size=7
*font: xft:monospace:size=7

XTerm*scaleHeight: 1.2
XTerm*termName: xterm-256color
XTerm*geometry: 80x20
XTerm*internalBorder: 50
XTerm*borderWidth: 0
XTerm*utf8: true
XTerm*scrollBar: false
XTerm*cursorBlink: false
XTerm*selectToClipboard: true
XTerm*keepClipboard: true
XTerm*trimSelection: true
XTerm*renderFont: true
XTerm*wideChars: true
XTerm*visualBell: false
XTerm*allowBoldFonts: false
XTerm*scrollKey: true
XTerm*fullscreen: never
XTerm*cutToBeginningOfLine: false
XTerm*cutNewline: false
XTerm*metaSendsEscape: true
XTerm*saveLines: 10000
XTerm*bellIsUrgent: true
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on2Clicks: word
XTerm*on3Clicks: line
XTerm*highlightReverse: false

XTerm.vt100.translations: #override \n\
    Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
    Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)

XTerm*foreground: #24292e
XTerm*background: #ffffff
XTerm*cursorColor: #24292e
XTerm*highlightColor: #24292e
XTerm*highlightTextColor: #ffffff
XTerm*color0: #f2f2f2
XTerm*color8: #969696
XTerm*color1: #d73a49
XTerm*color9: #d73a49
XTerm*color2: #22863a
XTerm*color10: #22863a
XTerm*color3: #e36209
XTerm*color11: #e36209
XTerm*color4: #032f62
XTerm*color12: #032f62
XTerm*color5: #6f42c1
XTerm*color13: #6f42c1
XTerm*color6: #005cc5
XTerm*color14: #005cc5
XTerm*color7: #24292e
XTerm*color15: #24292e
