! vim:ft=xdefaults

Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.antialias: 1
Xft.rgba: rgb

XTerm*termName: xterm-256color
XTerm*geometry: 100x20
XTerm*internalBorder: 40
XTerm*borderWidth: 0
XTerm*utf8: true
XTerm*locale: true
XTerm*scrollBar: false
XTerm*cursorBlink: false
XTerm*selectToClipboard: true
XTerm*trimSelection: true
XTerm*renderFont: true
XTerm*wideChars: true
XTerm*visualBell: false
XTerm*saveLines: 8192
XTerm*pointerMode: 2

XTerm.VT100.translations: #override \n\
    Shift Ctrl <KeyPress> v:insert-selection(CLIPBOARD) \n\
    Shift Ctrl <KeyPress> c:select-set(CLIPBOARD)

#ifdef QHD
Xft.dpi: 192
Xcursor.size: 48
XTerm*faceName: xft:JetBrains Mono:pixelsize=28
*.font: xft:JetBrains Mono:pixelsize=28
#else
Xcursor.size: 24
XTerm*faceName: xft:JetBrains Mono:pixelsize=14
*.font: xft:JetBrains Mono:pixelsize=14
#endif

XTerm*foreground: #afd7d7
XTerm*background: #020307

XTerm*cursorColor: #008888

XTerm*color0: #111214
XTerm*color8: #3c3835
XTerm*color1: #d15e85
XTerm*color9: #d15e85
XTerm*color2: #008888
XTerm*color10: #008888
XTerm*color3: #a1a6a9
XTerm*color11: #a1a6a9
XTerm*color4: #6087b0
XTerm*color12: #6087b0
XTerm*color5: #ae5fb0
XTerm*color13: #ae5fb0
XTerm*color6: #5fafae
XTerm*color14: #5fafae
XTerm*color7: #afd7d7
XTerm*color15: #afd7d7
